<!--
=========================================================
    Cheem Coding Modal Component
    Chat Cheem Coding - Meoz building
=========================================================
-->

<div

class="cheem-modal"

id="cheemModal">


    <div

    class="modal-overlay"

    id="modalOverlay">

    </div>


    <div

    class="modal-container"

    id="modalContainer">


        <!--==============================
            Header
        ===============================-->


        <div

        class="modal-header">


            <div

            class="modal-title-group">


                <h2

                id="modalTitle">

                    Modal Title

                </h2>


                <p

                id="modalSubtitle">

                    Modal description...

                </p>


            </div>


            <button

            class="modal-close"

            id="modalClose"

            aria-label="Close">

                ✕

            </button>


        </div>



        <!--==============================
            Body
        ===============================-->


        <div

        class="modal-body"

        id="modalBody">


            <!-- Dynamic Content -->


        </div>



        <!--==============================
            Footer
        ===============================-->


        <div

        class="modal-footer"


        id="modalFooter">


            <button

            class="modal-button secondary"

            id="modalCancel">

                Cancel

            </button>


            <button

            class="modal-button primary"

            id="modalConfirm">

                Confirm

            </button>


        </div>
              <!--==============================
            Loading
        ===============================-->

        <div

        class="modal-loading"

        id="modalLoading">


            <div

            class="modal-spinner">

            </div>


            <span>

                Loading...

            </span>


        </div>



        <!--==============================
            Progress
        ===============================-->

        <div

        class="modal-progress"

        id="modalProgress">


            <div

            class="modal-progress-bar"

            id="modalProgressBar">

            </div>


        </div>



        <!--==============================
            Icon
        ===============================-->

        <div

        class="modal-icon"

        id="modalIcon">

        </div>



        <!--==============================
            Dynamic Form Slot
        ===============================-->

        <form

        class="modal-form"

        id="modalForm">

        </form>



        <!--==============================
            Custom Slot
        ===============================-->

        <div

        class="modal-slot"

        id="modalSlot">

        </div>



        <!--==============================
            Watermark
        ===============================-->

        <div

        class="modal-watermark">

            Chat Cheem Coding - Meoz building

        </div>
              <!--==============================
            Notification Area
        ===============================-->

        <div

        class="modal-notification"

        id="modalNotification"

        role="status"

        aria-live="polite">

        </div>



        <!--==============================
            Keyboard Shortcuts
        ===============================-->

        <div

        class="modal-shortcuts">


            <div>

                <kbd>Esc</kbd>

                Close

            </div>


            <div>

                <kbd>Enter</kbd>

                Confirm

            </div>


        </div>



        <!--==============================
            Animation Container
        ===============================-->

        <div

        class="modal-animation"

        id="modalAnimation">

        </div>

    </div>

</div>



<!--==============================
    Component Hook
===============================-->

<div

id="modalHook">

</div>
        
