<!--
=========================================================
    Cheem Coding Toast Component
    Chat Cheem Coding - Meoz building
=========================================================
-->

<div

class="cheem-toast-container"

id="cheemToastContainer">


    <!--==============================
        Toast Item
    ==============================-->

    <template

    id="toastTemplate">


        <div

        class="cheem-toast"


        role="alert"

        aria-live="assertive">


            <div

            class="toast-icon">

                ℹ️

            </div>


            <div

            class="toast-content">


                <h4

                class="toast-title">

                    Notification

                </h4>


                <p

                class="toast-message">

                    Message...

                </p>


            </div>


            <button

            class="toast-close"

            aria-label="Close">

                ✕

            </button>

        </div>

    </template>
        <!--==============================
        Toast Progress
    ==============================-->

    <div

    class="toast-progress"

    id="toastProgress">

        <div

        class="toast-progress-bar">

        </div>

    </div>



    <!--==============================
        Toast Timer
    ==============================-->

    <div

    class="toast-timer"

    id="toastTimer">

        0s

    </div>



    <!--==============================
        Toast Actions
    ==============================-->

    <div

    class="toast-actions"

    id="toastActions">


        <button

        class="toast-action"

        id="toastActionButton">

            Action

        </button>


    </div>



    <!--==============================
        Custom Slot
    ==============================-->

    <div

    class="toast-slot"

    id="toastSlot">

    </div>



    <!--==============================
        Watermark
    ==============================-->

    <div

    class="toast-watermark">

        Chat Cheem Coding - Meoz building

    </div>
        <!--==============================
        Keyboard Shortcuts
    ==============================-->

    <div

    class="toast-shortcuts">


        <div>

            <kbd>Esc</kbd>

            Dismiss

        </div>


        <div>

            <kbd>Enter</kbd>

            Action

        </div>


    </div>



    <!--==============================
        Animation Container
    ==============================-->

    <div

    class="toast-animation"

    id="toastAnimation">

    </div>

</div>



<!--==============================
    Toast Hook
===============================-->

<div

id="toastHook">

</div>
