<!--
=========================================================
    Cheem Coding Navbar Component
    Chat Cheem Coding - Meoz building
=========================================================
-->

<nav class="cheem-navbar">

    <div class="navbar-left">

        <a 
        class="navbar-brand"
        href="../../pages/chat/index.html">

            <img
            src="../../assets/logo/OIP.jpg"
            alt="Cheem Coding Logo">

            <span>
                Cheem Coding
            </span>

        </a>

    </div>


    <div class="navbar-center">

        <button
        class="navbar-action"
        id="newChat">

            <span>
                ＋
            </span>

            New Chat

        </button>


        <button
        class="navbar-action"
        id="searchChat">

            <span>
                🔍
            </span>

            Search

        </button>


        <button
        class="navbar-action"
        id="modelSelect">

            <span>
                🤖
            </span>

            Model

        </button>

    </div>


    <div class="navbar-right">

        <button
        class="navbar-icon"
        id="themeToggle"
        title="Theme">

            🌙

        </button>


        <button
        class="navbar-icon"
        id="notification">

            🔔

        </button>


        <button
        class="navbar-icon"
        id="openSettings">

            ⚙️

        </button>


        <div
        class="navbar-user"
        id="navbarUser">

            <img
            id="navbarAvatar"
            src="../../assets/images/default-avatar.png"
            alt="Avatar">


            <span
            id="navbarUsername">

                User

            </span>

        </div>

    </div>

</nav>
