/*
=========================================================
    Cheem Coding Sidebar Component
    Chat Cheem Coding - Meoz building
=========================================================
*/


<aside

class="cheem-sidebar"

id="cheemSidebar">


    <div class="sidebar-header">


        <div class="sidebar-brand">


            <img

            src="../../assets/logo/OIP.jpg"

            alt="Cheem Coding">


            <span>

                Cheem Coding

            </span>


        </div>


        <button

        class="sidebar-collapse"

        id="sidebarCollapse">


            ☰


        </button>


    </div>



    <div class="sidebar-actions">


        <button

        class="new-chat-button"

        id="sidebarNewChat">


            <span>

                ＋

            </span>


            New Chat


        </button>


    </div>



    <div class="sidebar-section">


        <h3>

            Conversations

        </h3>


        <div

        class="conversation-list"

        id="conversationList">


            <!-- History items load here -->


        </div>


    </div>
    /*==============================
    History Template
==============================*/


<template id="conversationTemplate">

    <div

    class="conversation-item">


        <div class="conversation-icon">

            💬

        </div>


        <div class="conversation-info">


            <span

            class="conversation-title">

            </span>


            <small

            class="conversation-time">

            </small>


        </div>


        <button

        class="conversation-menu">


            ⋮


        </button>


    </div>

</template>



<!--==============================
    Sidebar Search
==============================-->


<div

class="sidebar-search">


    <input

    id="sidebarSearchInput"

    type="text"

    placeholder="Search chats...">


</div>



<!--==============================
    User Area
==============================-->


<div

class="sidebar-user"

id="sidebarUser">


    <img

    id="sidebarAvatar"

    src="../../assets/images/default-avatar.png"

    alt="Avatar">



    <div class="sidebar-user-info">


        <strong

        id="sidebarUsername">

            User

        </strong>


        <span

        id="sidebarPlan">

            Free

        </span>


    </div>


</div>



<!--==============================
    Footer
==============================-->


<div

class="sidebar-footer">


    <span>

        Chat Cheem Coding - Meoz building

    </span>


</div>


</aside>
<!--==============================
    Empty State
===============================-->

<div

class="sidebar-empty"

id="sidebarEmpty">


    <div class="empty-icon">

        📝

    </div>


    <h4>

        No conversations

    </h4>


    <p>

        Start a new chat to see your history here.

    </p>


</div>



<!--==============================
    Loading
===============================-->

<div

class="sidebar-loading"

id="sidebarLoading">


    <div

    class="sidebar-loader">

    </div>


    <span>

        Loading conversations...

    </span>


</div>



<!--==============================
    Mobile Overlay
===============================-->

<div

class="sidebar-overlay"

id="sidebarOverlay">

</div>



<!--==============================
    Shortcut Hint
===============================-->

<div

class="sidebar-shortcuts">


    <div>

        <kbd>Ctrl</kbd>

        +

        <kbd>B</kbd>

        Toggle Sidebar

    </div>


    <div>

        <kbd>Ctrl</kbd>

        +

        <kbd>F</kbd>

        Search Chats

    </div>


</div>



<!--==============================
    Component Slot
===============================-->

<div

id="sidebarSlot">

</div>



<!--==============================
    Watermark
===============================-->

<div

class="sidebar-watermark">


    Chat Cheem Coding - Meoz building


</div>
